<br><br>

<h1>Add a new product</h1>
  <form class="new-product-form" name="newProductForm" ng-submit="productsController.addProduct(productsController.newProduct)" novalidate>
    <div class="form-group">
      <label id="name-label" for="name">Name</label>
      <input id="name" type="text" name="name" ng-model="productsController.newProduct.name" required>
    </div>
    <div class="form-group">
      <label id="description-label" for="description">Description</label>
      <input id="description" type="text" name="description" ng-model="productsController.newProduct.description" required>
    </div>
    <div class="form-group">
      <label id="price-label" for="price">Price</label>
      <input id="price" type="number" min=".01" step=".01" name="price" ng-model="productsController.newProduct.price" required>
    </div>
    <div class="form-group">
      <label id="image-label" for="image">Image</label>
      <input id="image" ng-file-select type="file" name="image" ng-model="productsController.newProduct.image" >
    </div>
    <div class="form-group">
      <input type="submit" class="button-submit" ng-disabled="newProductForm.$invalid" value="addProduct">
    </div>
  </form>

  <script src="angular.min.js"></script>
  <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
  <script src="angular-file-upload-shim.min.js"></script>
  <script src="angular-file-upload.min.js"></script>

  <div ng-app="fileUpload" ng-controller="MyCtrl">
      watching model:
      <div class="button" ng-file-select ng-model="files">Upload using model $watch</div>
      <div class="button" ng-file-select ng-file-change="upload($files)">Upload on file change</div>
      Drop File:
      <div ng-file-drop ng-model="files" class="drop-box"
          drag-over-class="dragover" ng-multiple="true" allow-dir="true"
          accept=".jpg,.png,.pdf">Drop Images or PDFs files here</div>
      <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
  </div>
